;The drive letter where the project is located
drive_letter = C
;Path to where the project is stored. Use linux style
idf_path = C:/esp32/esp-idf
;Project path without drive e.g. from C:/path/to/project => /path/to/project
project_path = /esp32/project
;Windows PORT name
port = COM3
;Flash Baud rate
flash_baud = 921600
;Monitor Baud rate
monitor_baud = 115200
;Make nr of threads (usully nr of cores +1)
threads = 9


